@charset "UTF-8";
/* CSS Document 

*/
@import 'https://fonts.googleapis.com/css?family=Roboto:300,300i,500,500i|Open+Sans:700,700i';


.hi-Green {
	background-color: #468dcb;
	}




.upload-bg {
	background-color: #f9bcaf;
	background-image:url(../images/bg-upload-anansi.gif);
	background-position:right;
	background-size:contain;
	background-repeat:no-repeat;
	}

h1, h2, h3, h4 {
	font-family:"Open Sans", Helvetica, Arial, "sans-serif"
}